/*
Theme Name: My ClassiPress Child Theme
Version: 1.0
Description: A child theme for ClassiPress, classified ads theme.
Author: Your Name
Author URL: http://www.your-url.com
Template: classipress
*/
body, p {
    font-size: 14px!important;
    line-height: 21px;
}
.container {
    font-size: 14px!important;
}
.btn_orange{
	background-color:#019557!important;
}
.header_menu, .btn-topsearch,.welcome-buttons .btn_orange {
    background: #019557!important;
}
.header_menu_res .obtn {
    padding: 7px 10px 4px 10px;
    background: #02542f!important;
    color: white;
}
.content_left {
    width: 66.5%;
}
#search-bar{
	width:1068px;
}
.td-container,.header_main_res,.header_menu_res, .content_res{
    width: 1068px;
    margin-right: auto;
    margin-left: auto;
}
.footer-col {
    float: left;
    padding: 0 25px;
    border-left: 1px solid #e7e7e7;
    height: 240px;
    width: 25%;
}
.footer_main{
	border-top:none;
}
.footer{
	background:none!important;
}
.td-main-content-wrap {
    padding-bottom: 40px;
}
.new-footer {
    text-align: left!important;
    width: 100%;
    padding: 20px 0px;
    height: auto;
    background: #4a4a4a;
    float: left;
}
.td-container {
    width: 1068px;
    margin-right: auto;
    margin-left: auto;
}
.footer-bottom .footer-col:first-of-type {
    padding-left: 0;
    border-left: none;
}
.footer-bottom .footer-col:first-of-type, .footer-bottom .footer-col:last-of-type {
    width: 38%;
}
.footer-col:last-child {
    width: 25%!important;
}
.k14-address {
    margin-bottom: 35px;
}
.footer-bottom .col-title, .footer-bottom .col-title a {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.footer-col h3 {
    margin-top: 10px;
}

.footer-bottom p {
    font-size: 13px;
    line-height: 18px;
    color: #fff;
}
li.menu-seo-item img {
    max-height: 50px;
}
li.menu-seo-item {
    list-style: none;
    margin: 10px auto 0 10px;
}
.pad_footer {
    
}
.td-main-content-wrap, .td-category-grid {
    background-color: #fff;
	padding:20px 0;
}
.pad_footer .owl-carousel {
    background: #EEEEEE;
}
.td-sub-footer-container {
    background-color: #0d0d0d;
    color: #ccc;
    font-size: 12px;
    font-family: 'Open Sans', arial, sans-serif;
	width:100%;
	float:left;
}
.td-pb-row {
    margin-right: -24px;
    margin-left: -24px;
}
.td-pb-row [class*="td-pb-span"] {
    display: block;
    min-height: 1px;
    float: left;
    padding-right: 24px;
    padding-left: 24px;
    position: relative;
}
.td-sub-footer-container .td-sub-footer-menu {
    float: right;
}
.td-sub-footer-copy {
    line-height: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.td-pb-span5 {
    width: 41.66666667%;
}
.associate {
    margin-bottom: 45px;
}
.associate p {
    padding-left: 20px;
    height: 16px;
}
.associate .admicro-phone-footer {
    background: url(images/footer-admicro-icon.png) left center no-repeat;
}
.associate .phone-footer {
    background: url(images/footer-phone-icon.png) left center no-repeat;
}
.associate .associate-mail {
    display: block;
    padding-left: 20px;
    height: 15px;
    margin-top: 5px;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
    text-decoration: none;
    background: url(images/footer-mail-icon-grey.png) left center no-repeat;
}
.btn-view-map {
    display: block;
    height: 15px;
    padding-left: 15px;
    background: url(images/footer-map-pin.png) left center no-repeat;
    font-size: 10px;
    font-weight: bold;
    color: #777;
    line-height: 14px;
    text-decoration: none;
    margin-top: 8px;
}

/*----------Custom-----------*/

.tit_l a {
    background: url(images/tit1.jpg) no-repeat scroll left top #019557;
    float: left;
    margin: 0;
    padding: 0 0 0 4px;
    text-decoration: none;
}
.tit_l a span {
    background: url(images/tit4.jpg) no-repeat right top;
    display: block;
    float: left;
    padding: 4px 15px 0 6px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
	white-space: nowrap;
	font-size: 14px;
}
.line_gr {
    border-bottom: 2px solid #019557;
}
.product-list{	
    border-top: none;
	width: 100%;
	margin-bottom:20px;
	background:#fff;
}
#list_cp_country{
	display:none;
}
.product-list .vip0, .product-list .vip1, .product-list .vip2, .product-list .vip3, .product-list .vip5 {
    border-bottom: 1px solid #019557 !important;
    border-left: none !important;
    border-right: none !important;
    min-height: 100px !important;
    padding: 10px 0;
    margin: 0 10px;
}
.product-list .p-main {
    margin-top: 0px !important;
    margin-left: 0px !important;
}
.p-main-image-crop {
    width: 180px;
    margin-right: 20px;
    position: relative;
    float: left;
    text-align: center;
}
.product-list .p-content, .product-list .p-bottom-crop {
    width: 470px;
	float:left;
}
.p-bottom-crop {
    bottom: 0;
    float: right;
    left: 135px;
    width: 560px;
}
.product-list a:visited {
    color: #055699;
}
.product-list a {
    text-decoration: none;
    text-align: center;
}
.product-list .p-main-image-crop .product-avatar-img {
    height: 90px;
}
.product-avatar .product-avatar-img {
    max-height: 100%;
    max-width: 100%;
}
.p-main-image-crop .product-avatar-img {
    height: 90px;
    width: 120px;
    border: 1px solid #ccc;
}
.product-list .vip5 .p-title {
    font-size: 13px;
    color: #055699;
    margin-left: 0px;
    padding-top: 0px !important;
}
.product-list .vip5 .p-title a {
    text-decoration: none;
    color: #055699;
    font-weight: bold;
	text-align: center;
	padding-bottom: 10px;
    float: left;
}
.product-list .p-bottom-left {
    padding-left: 0px !important;
    float: left;
    width: 560px;
}
.product-list .vip5 .p-bottom-right {
    font-size: 12px;
    color: #000;
    float: right;
    padding-right: 5px;
}
.font09 {
    font-size: 0.9em !important;
}
.product-list .p-bottom-left .left {
    width: 100px;
    float: left;
    font-weight: bold;
}
#menu-header li.menu-item-home>a {
    text-indent: -999px;
    width: 20px;
    height: 23px;
    margin-top: 5px;
    padding: 0 10px;
    z-index: 999;
    background: url(images/home.png) no-repeat;
}
.header_menu_res ul li.menu-item-home{
	background:none;
}
.cp_auction_mine .paddleft{
	padding-left:15px;
}
.slider_top .col-xs-9{
	width:66.5%;
	float:left;
	margin-bottom:15px;
}
.slider_top .col-xs-3{
	width:32%;
	float:right;
	margin-bottom:15px;
}
.slider ul li img{
	width:180px;
	height:170px;
}
#list_cp_enable_payment,#list_cp_item_name,#list_cp_quantity{
	display:none;
}

@media screen and (max-width: 1024px) {
	.td-container, .header_main_res, .header_menu_res, .content_res {
		width: 97%;
	}
	.content_right{
		width:32%;
	}
	.product-list .p-content, .product-list .p-bottom-crop{
		width:65%;
	}
}

@media screen and (max-width: 768px) {
	.content_left,.slider_top .col-xs-9,.content_right,.header_top_res {
		width: 100%;
	}
	.slider_top .col-xs-3{
		display:none;
	}
    .content_res img.attachment-ad-thumb{
        max-width: 75px;
    }
	.tinynav{
		background:url(images/icon_home.png) no-repeat;		
		height:28px;
		text-indent:-999px;
		border:none;
		color:#019557;
	}
	.tinynav:hover{
		border:none;
	}
    .product-list .p-bottom-left{
        width:auto;
    }
    #search-bar{
        width: auto;
    }
    .form_search select#scat.searchbar{
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
	.footer-bottom .footer-col:first-of-type, .footer-bottom .footer-col:last-of-type ,.footer-col{
		width: 100%;
		padding:0 10px;
	}
	.footer-col:last-child {
		width: 100% !important;
	}
    .footer-col{
        border:none;
    }
    .footer_main .td-sub-footer-copy{
        width: auto !important;
    }
    a{
        font-size: 14px;
    }
    .td-container, .header_main_res, .header_menu_res, .content_res{
        width:95%;
    }
}
@media screen and (max-width: 320px) {
	.product-list .p-content, .product-list .p-bottom-crop{
		width: 100%;
		padding:0 10px;
	}
	.product-list .vip5 .p-title{
		margin:10px 0;
	}
}



